---

---

<div class="landing-content">
    Moving this textbox here took two hours
	<br>
	<br>
	<br>
	this background sucks as i have not finished photoshoping
	<br>
	<br>
	the paralax took two more horus
</div>

<style>
    .landing-content {
		width: calc(100% - (var(--padding) * 4));
		height: 50vh;
		background-color: rgba(255, 255, 255, 1);
		border-radius: 16px;
		padding: 16px;
        transform: translateY(calc((var(--scroll-y) * 0.8)));
	}
</style>