---
---

<div class="header">
    This is a Header. This Header kind of Sucks as of the Current Time.
</div>

<style>
    .header {
        top:-64px;
        width: 100%;
        margin: 0;
        height: var(--header-height);
        position: fixed;
        background-color: #343434;
        z-index: 9999999999; 
        transition: top 0.5s ease-out;
        padding-left: 16px;
        color: white;
        display: flex;
        align-items: center;
    }

    .header.header-active {
        top: 0;
    }
</style>